#content {
   max-width: 1600px;
   margin: 0 auto;
}

.logo {
    width: 80px;
    padding-top: 5px;
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

nav a {
    text-align: center;
    color: #618985;
    text-decoration: none;
    padding: 35px;
}        

nav a:hover {
    background-color: #c19875;
    color: #F2e3bc;
}

header {
    background-color: #F2e3bc;
    color: #618985;
    display: grid;
    grid-template-columns: 150px auto;
}

nav {
    display: flex;
    justify-content: space-around;
}

footer {
    background-color: #618985;
    color: #F2e3bc;
    padding: 25px 50px;
    text-decoration: none;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p {
    color: #F2e3bc;
    text-decoration: none;
}

footer p:hover {
    color: #F2e3bc;
    text-decoration: underline;
}

#fb, #t, #i {
    text-decoration: none;
    background-color: #618985;
    padding-right: 20px;
    width: 50px;
}

#site-plan, #contact {
    text-decoration: none;
    color: #F2e3bc
};