#content {
   max-width: 1600px;
   margin: 0 auto;
}

.logo {
    width: 80px;
    padding-top: 5px;

}
nav a {
    text-align: center;
    color: #618985;
    text-decoration: none;
    padding: 35px;
}        

nav a:hover {
    background-color: #c19875;
    color: #F2e3bc;
}

#hero-msg h1 {
    text-align: center;
    color: #618985;
    font-family: "Brush Script MT", "sans-serif";
    font-size:50px
}

#hero-msg h4 {
    text-align: center;
    color: #618985;
    font-size: 20px
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
    color: #618985;
}

#background {
    height: 725px;
    background-color: #F2e3bc;
}

header {
    background-color: #F2e3bc;
    color: #618985;
}

body {
    color: #618985;
    margin: 0;
    padding: 0;
}

#hero-img {
    width: 100%;
}

.book ,.join {
    background-color: #F2e3bc;
    color: #618985;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover ,.join:hover {
    background-color: #c19875;
    color: #F2e3bc;
}

.msg {
    background-color: #618985;
    color: #F2e3bc;
    text-align: center;
    padding: 35px;
}

.msg p {
    padding-bottom: 15px;
}

footer {
    background-color: #618985;
    color: #F2e3bc;
    padding: 25px 50px;
}

footer p {
    color: #F2e3bc;
    text-decoration: none;
}

footer p:hover {
    color: #F2e3bc;
    text-decoration: underline;
}

#fb, #t, #i {
    background-color: #618985;
    padding-right: 20px;
}

main section img{
    box-sizing: border-box;
}
.card-img {
    width: 500px;
    border: 10px solid #c19875;
}

.rivers-card {
    margin: 200px;
}

.camping-card {
    margin: 200px;
}

.radpis-card {
    margin: 200px;
}

.mountains {
    width: 500px;
}

#hero-img {
    width: 100%;
}

h2 {
    margin: 0;
}

.home-title {
    margin-top: 10px;
}