@import url('https://fonts.googleapis.com/css?family=Rajdhani');

:root {
  --primary-color: black;
  --secondary-color: #F4F4F4;
  --accent1-color: #1B9CFC;
  --accent2-color: #D72638;

  --heading-font: "Rajdhani";
  --paragraph-font: "Rajdhani";

  --headline-color-on-white: #F4F4F4;
  --headline-color-on-color: black;
  --paragraph-color-on-white: #F4F4F4;
  --paragraph-color-on-color: black;
  --paragraph-background-color: #F4F4F4;
  --nav-link-color: #F4F4F4;
  --nav-background-color: black;
  --nav-hover-link-color: black;
  --nav-hover-background-color: #1B9CFC;
}

* {
  background-color: black;
}

.logo {
    width: 80px;
    padding-top: 5px;
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

header {
    background-color: black;
    display: grid;
    grid-template-columns: 150px auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}

h2 {
  text-align: center;
}

hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent2-color);
}

header {
  padding: 1em;
  text-align: center;
  color: var(--headline-color-on-color);
  background-color: var(--paragraph-background-color);
}

header > h1,
header > h2 {
  color: var(--headline-color-on-white);
}

p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color-on-white);
  padding: 1em;
}

nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
}

nav {
  list-style-type: none;
  display: flex;
}

nav a {
  padding: 1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;
}

nav a:link,
nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

footer {
    color: #F4F4F4;
    padding: 25px 50px;
    text-decoration: none;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p {
    color: #F4F4F4;
    text-decoration: none;
}

footer p:hover {
    color: #1B9CFC;
    text-decoration: underline;
}

#fb, #t, #i {
    text-decoration: none;
    padding-right: 20px;
    width: 50px;
}

#site-plan, #contact {
    text-decoration: none;
    color: #F4F4F4;
}

/* Characters Subpage */

/* Timeline Subpage */

/* Contact Us Page */

#contact-msg {
    color: #F4F4F4;
    align-content: center;
    font: 2em serif;
}

form {
    margin-top: 1%;
    display: inline-block;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
    background-color: black;
}

p + p {
    margin-top: 1em;
}

label {
    display: inline-block;
    min-width: 90px;
    text-align: right;
}

input, 
textarea {
    color: #F4F4F4;
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
}

input:focus,
textarea:focus {
    outline-style: solid;
    outline-color: #F4F4F4;
}

textarea {
    vertical-align: top;
    height: 5em;
}

.button {
    padding-left: 90px;
}

button {
    margin-left: 0.5em;
}

#feedback {
    background-color: #F4F4F4;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}